<!doctype html>
<html>
    <head>
        <title>memberList</title>
        <meta charset="utf-8">
    </head>
    <body>
        
        <div class="wrapper">
            <div class="display-container">
                <div >
                    <div style="display:flex;">
                        <h1>친구</h1>
                       <% if(data != "") {%>
                        <% for(let i=0; i<data.length; i++){ %>
                            name: <%=data[i].memName %><br>
                            <% } %>
                            <% } else {%> 
                                <h1>친구없어요</h1>
                                <% }%>

                    </div>


                </div>
            </div>
        </div>
    </body>
</html>