<!doctype html>
<html>
    <head>
        <title>login</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/style.css">

    </head>
    <body>
        <div class="wrapper">
            <div class="display-container">
                <div style="position: absolute; top:35%; left: 42%;">

                    <h1 class="mainLogo">GENIE</h1>
                    <img class="login_img" alt="logo" src="/img/genie.png"/>

                    <form action="/login" method="post">
                        <p><input type="text" name="memId" class="login_input" placeholder="아이디를입력해주세요"/></p>
                        <p>
                            <input type="password" name="memPwd" class="login_input" placeholder="비밀번호를입력해주세요"/>
                        </p>
                        <p><input class="login_button" type="submit" value="로그인" /></p>
                    </form>
                    <a class="joinLink" href="/join">회원가입</a>
                </div>
            </div>
        </div>
    </body>
</html>