<!doctype html>
              <html>
              <head>
                <title>main</title>
                <meta charset="utf-8">           
              </head>
              <body>
              <div class="wrapper">
              <div class="display-container">
              <div style="position: absolute; top:35%; left: 42%;">
              <div style="display:flex;">  
              <h1>GENIE</h1>
                <img alt="logo" src="/genie.png"/>
                </div> 
                <form action="/login" method="post">
                    <p><input type="text" name="memId" placeholder="아이디를입력해주세요"></p>
                    <p><textarea name="memPwd" placeholder="description"></textarea></p>
                    <p><input type="submit"/></p>
                    </form>
                
                </div>
                </div>
                </div>
              </body>
              </html>